.wlbw-floating-btn {
    position: fixed;
    bottom: var(--wlbw-bottom-offset, 3%);
    right: var(--wlbw-right-offset, 1.25em);
    left: var(--wlbw-left-offset, auto);
    background: #25D366;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
    z-index: 1000;
    width: 50px;
    height: 50px;
    transition: transform .3s;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.wlbw-floating-btn:hover {
    transform: scale(1.1);
    background: #20b358;
}

.wlbw-floating-btn img {
    height: auto;
    width: 100%;
    max-width: 100%;
    padding: 0.75em;
    box-sizing: border-box;
}
.pulse-anim {
    animation-name: elementor-animation-pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pulse-anim:hover {
    animation-name: none
}

@keyframes elementor-animation-pulse {
    25% {
        transform: scale(1.1)
    }

    75% {
        transform: scale(.9)
    }
}

@media only screen and (max-width: 768px) {
    .whatsapp-float {
        width: 50px;
        height: 50px;
    }
}